@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
  background-color: #fafafa;
  padding: 1rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

#search-box {
  max-width: 320px;
  padding: 8px;
  margin-bottom: 16px;
}

.country-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.country-item,
.country-header {
  display: flex;
  align-items: center;
}

.country-item:not(:last-child) {
  margin-bottom: 10px;
}

.country-name {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
}

.country-text {
  font-weight: 700;
}

.country-value {
  font-weight: 400;
}
